{% extends "clj_wamp_example/views/layout.html" %}
{% block content %}

    <div class="container">
        <header>
            <h1>clj-wamp<br>
                <small>WAMP WebSockets for Clojure and HTTP Kit</small>
            </h1>
        </header>

        <div class="hero-unit">
            <h2 class="text-center">Give it a spin</h2>
            <div class="row-fluid">
                <div class="span6">
                    <a href="/chat" class="btn btn-large btn-success span8 offset3">
                        <span><i class="icon-comments"></i> Chat Demo<br></span>
                    </a>
                </div>
                <div class="span6">
                    <a href="/rpc" class="btn btn-large btn-success span8 offset1">
                        <span><i class="icon-exchange"></i> RPC Demo</span>
                    </a>
                </div>
            </div>

            <p class="text-center">The
                <a href="https://github.com/cgmartin/clj-wamp-example">source code</a>
                for these examples can be found at GitHub.</p>
        </div>

        <div class="clearfix">
            <blockquote class="pull-right">
                <p>
                    <abbr title="WebSocket Application Messaging Protocol">WAMP</abbr>
                    is an open WebSocket subprotocol that provides two
                    asynchronous messaging patterns: <a href="http://wamp.ws/faq#rpc">RPC</a> and
                    <a href="http://wamp.ws/faq#pubsub">PubSub</a>.
                </p>
                <small>See the <cite title="WAMP.ws"><a href="http://wamp.ws/">WAMP website</a></cite> for more info.</small>
            </blockquote>
        </div>

        <div class="lead alert text-center">
            <strong>BETA software, under development</strong>
        </div>

        <h2>Overview</h2>
        <div class="lead">
            <p><strong>clj-wamp</strong> provides an interface for WAMP websocket messaging
                on the server-side with <a href="http://http-kit.org/">HTTP Kit</a>.</p>
            <p>Compose <a href="/doc/clj-wamp.server.html#var-http-kit-handler">a map</a>
                of RPC and/or PubSub callbacks, and you're good to go.</p>
            <p>It should work with any <a href="http://wamp.ws/implementations">WAMP v1 enabled client</a>.
               The examples on this site use <a href="http://autobahn.ws/js">AutobahnJS</a>.</p>
        </div>

        <h3>Installation</h3>
        <p>Add the following dependency to your existing <code>project.clj</code> file:</p>
        <pre>[clj-wamp "1.0.0-beta3"]</pre>

        <p>...Or create a new clj-wamp starter project from scratch:</p>
        <pre>% lein new clj-wamp my-project-name</pre>

        <p>For a clj-wamp getting started guide, see <a href="/tutorial">the tutorial</a>.</p>
        <p>See <a href="/doc/index.html">the API docs</a> for more information on the PubSub API and callback signatures.</p>
    </div>
{% endblock %}

