<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>clj-wamp{% if title %} ~ {{ title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    {% block head-style %}{% endblock %}
</head>
<body>

    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a id="nav-collapse-btn" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="/">clj-wamp</a>

                <div class="nav-collapse collapse">
                    <ul class="nav large-icons ">
                        <li><a href="/chat" rel="tooltip"
                               title="Chat PubSub example"
                               ><i class="icon-comments"></i> Chat Demo </a></li>
                        <li><a href="/rpc" rel="tooltip"
                               title="Remote Procedure Call example"
                               ><i class="icon-exchange"></i> RPC Demo </a></li>
                    </ul>

                    <ul class="nav large-icons pull-right">
                        <li><a href="https://github.com/cgmartin/clj-wamp"
                                >Fork @ GitHub <i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}

    {% block footer %}
    <footer>
        <div class="container">
            Content on this site is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"
                >Creative Commons Attribution 3.0 Unported License</a>
            by <a xmlns:cc="http://creativecommons.org/ns#" href="http://cgmartin.com" property="cc:attributionName"
                  rel="cc:attributionURL">Christopher Martin</a>.
        </div>
    </footer>
    {% endblock %}

    <script src="//code.jquery.com/jquery-2.0.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script>
        $('a[rel=tooltip]').tooltip();
    </script>
    {% block inline-script %}{% endblock %}
</body>
</html>