

body > footer {
    text-align: center;
    padding: 30px 0; margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.hero-unit { margin: 30px 0 0; padding: 30px 30px 20px; }
.hero-unit .lead { margin-bottom: 40px; }
.hero-unit h2    { margin-bottom: 30px; }
.hero-unit .btn-large { margin-bottom: 20px; font-size: 27px; }
.hero-unit .btn-large span { display: block; margin: 10px 0; }

blockquote { margin: 60px 0; }
blockquote > p { margin-bottom: 10px; }

/* Error modal */
#error-modal { color: #b94a48; border-color: #eed3d7; border-width: 2px;}
#error-modal .modal-body, #error-modal .modal-header { background-color: #f2dede; border-color: #eed3d7; }

@media (max-width: 767px) {
    body > footer { margin-left: -20px; margin-right: -20px; }
}

/* Tutorial table of contents */
.toc {
    width: 220px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.toc > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}
.toc > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.toc > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.toc > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.toc .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.toc > li > a:hover {
    background-color: #f5f5f5;
}
.toc a:hover .icon-chevron-right {
    opacity: .5;
}
.toc .active .icon-chevron-right,
.toc .active a:hover .icon-chevron-right {
    opacity: 1;
}
.toc.affix {
    top: 30px;
}
.toc.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}

@media (min-width: 768px) and (max-width: 979px) {
    .toc {
        width: 166px;
        margin-top: 20px;
    }
}


#tutorial {
    font-size: 16px;
    line-height: 20px;
}
#tutorial h2,
#tutorial p,
#tutorial pre {
    margin-bottom: 20px;
}

#tutorial h2 { margin-top: 20px; }