body > footer {
    text-align: center;
    padding: 30px 0; margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.hero-unit { margin: 30px 0 0; padding: 30px 30px 20px; }
.hero-unit .lead { margin-bottom: 40px; }
.hero-unit h2    { margin-bottom: 30px; }
.hero-unit .btn-large { margin-bottom: 20px; font-size: 27px; }
.hero-unit .btn-large span { display: block; margin: 10px 0; }

blockquote { margin: 60px 0; }
blockquote > p { margin-bottom: 10px; }

/* Error modal */
#error-modal { color: #b94a48; border-color: #eed3d7; border-width: 2px;}
#error-modal .modal-body, #error-modal .modal-header { background-color: #f2dede; border-color: #eed3d7; }

@media (max-width: 767px) {
    body > footer { margin-left: -20px; margin-right: -20px; }
}